@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-link-blue: #7daea3;
	--color-link-blue-hover: #6a9a91;
}

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: 'Noto Serif', serif;
		font-weight: 300;
		line-height: 1.6;
		color: #e2e2e3;
		background: #282828;
		padding: 40px 20px;
	}

	.link-animated {
		position: relative;
		color: var(--color-link-blue);
		text-decoration: none;
		transition: color 200ms ease-in-out;
	}

	.link-animated:hover {
		color: var(--color-link-blue-hover);
	}

	.link-animated::after {
		content: '';
		position: absolute;
		bottom: -0.125rem;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: currentColor;
		transition: background-color 200ms ease-in-out;
	}

	.link-underline {
		text-decoration: none;
		background-image: linear-gradient(currentColor, currentColor);
		background-size: 0% 1px;
		background-position: left bottom;
		background-repeat: no-repeat;
		transition: background-size 300ms ease-in-out;
	}

	.link-underline:hover {
		background-size: 100% 1px;
	}

	.prose a {
		color: var(--color-link-blue) !important;
		text-decoration: none !important;
		font-weight: 400 !important;
		background-image: linear-gradient(var(--color-link-blue), var(--color-link-blue));
		background-size: 0% 1px;
		background-position: left bottom;
		background-repeat: no-repeat;
		transition:
			color 200ms ease-in-out,
			background-size 300ms ease-in-out;
	}

	.prose a:hover {
		color: var(--color-link-blue-hover) !important;
		background-size: 100% 1px;
	}

	.nav-link {
		color: #e2e2e3;
		text-decoration: none;
		margin-right: 15px;
		position: relative;
		display: inline-block;
		padding-bottom: 2px;
	}

	.nav-link span {
		position: relative;
		z-index: 1;
	}

	.nav-link::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background: currentColor;
		transition: width 0.3s ease;
	}

	.nav-link:hover::after,
	.nav-link.active::after {
		width: 100%;
	}

	.nav-link.active {
		font-weight: 600;
	}

	.nav-link.active::after {
		height: 2px;
	}
}
